/* Write your code here. */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #1d976c, #93f9b9);
}
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  width: 500px;
  height: 300px;
}
.cal-container {
  color: white;
  padding: 10px;
}
.search {
  background-color: transparent;
}
.count-container {
  color: #1d976c;
  background-color: white;
  padding: 4px;
  border-radius: 10px;
  width: 120px;
  height: 70px;
  margin-top: 20px;
}
